.app-cont {
    width: 20cm;
    margin: 0 auto;
}

.app-header {
    width: 100%;
    margin: 0 0 40px 0;
    height: 80px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px black solid;
}

.form-cont {
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    text-align: center;
}

body {
    margin: 0;
}